body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Quicksand', sans-serif;
}

video {
  width: 90%;
  height: auto;
  align: center;
}

#slider {
  background: #000;
}

.bx-viewport, .bx-wrapper {
  background: #000 !important;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.slide-item {
  background: #000;
}

.video {
  padding: 50px;
  text-align: center;
  background: #000;
}

.banner img {
  padding: 50px;
  margin-top: 10%;
  z-index: 9;
  width: 100%;
}

.member img.member-banner {
  padding: 20px;
  z-index: 0;
  width: 100%;
  margin-bottom: 0px;
}

.member img.member-profile {
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;
  z-index: 9;
  width: 150px;
  height: 150px;
}

.member h1 {
  margin-top: 100px;
  margin-left: 20px;
  padding: 10px;
  font-size: 6em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}

.member h2 {
  margin-top: 100px;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}



